.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(68, 50, 151, 1);
}

.container {
  position: relative;
  padding: 20px 0 14px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.navbar_top {
  width: 100%;
  height: 50px;
  position: relative;

  display: flex;
  flex-direction: row;
}

.navbar_top > a img {
  margin-right: 76px;
  height: 36px;
}

.navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;

  align-items: center;
  background-color: #fff;
  border-radius: 6px;
}

.navbar_top .serch_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
}

.search_box .category_list {
  width: 166px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}

.category_list select {
  width: 140px;
  height: 30px;
  margin-left: 17px;

  border: none;
  outline: none;
}

.categoey_list input {
  margin-left: 12px;

  width: 387px;
  height: 22px;
  border: none;
  outline: none;
}

.nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: opx 6px 6px 0px;
}

.search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.top_menu_box .box_icon_box {
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.box_icon_box img {
  width: 22px;
  height: 22px;
}

.top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.box_info_box span {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #fff;
}

.box_info_box strong {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

/* .navbar_bott {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 40, 40);
} */

.home_page {
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.header_frame .container {
  flex-direction: row;
}

.container .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;

  background-color: #0053fd;
  background-image: url("../images/icons/header_bg.svg");
}

.header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}
.header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #ffffff;
}

.header_content p {
  margin-top: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.header_content img {
  position: absolute;
  right: 10px;
}

.container .header_right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_right .header_box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;

  background: #f2f2f2;
}

.header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_left span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #0053f6;
}

.box_left p {
  margin: 10px 0px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;

  color: #041e42;
}
.box_left a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}
